@keyframes backgroundrainbow{
    0%{
        background-color: red;
    }
    10%{
        background-color: orange;
    }
    20%{
        background-color: yellow;
    }
    30%{
        background-color: green;
    }
    40%{
        background-color: blue;
    }
    60%{
        background-color: indigo;
    }
    70%{
        background-color: violet;
    }
    80%{
        background-color: pink;
    }
    90%{
        background-color: white;
    }
    100%{
        background-color: red;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.ctn-header{
    padding: 10px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: blue;
    color: white;
    box-shadow: 12px 12px 10px #333;
}

.logo{
    width: 60px;
    height: 60px;
}
.ctn-main{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.ctn-footer{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 20%;
    padding: 10px;
    background-color: blue;
    color: white;
    box-shadow: 12px -12px 10px #333;
}
.btn-comenzar{
    background-color: red;
    border-radius: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    font-family: Minecraft;
    animation: backgroundrainbow 10s infinite;
}
.btn-comenzar:hover{
    transform: translateY(-4px);
    transition: all 0.5s ease;
}
.btn-comenzar:not(:hover){
    transform: translateY(4px);
    transition: all 0.5s ease;
    
}